@import'header';
@import 'animations';
@import 'homepage';
@import 'wash';
@import 'connect';
@import 'gallery';

*{
     box-sizing: border-box;
     padding:0;
     margin: 0;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
     
}
body{
     background-color: black;
}
#footer
{
     position:absolute;
     height:7vh;
     width:100%;
     background-color: black;
     color:silver;
     text-align: center;

     .magin{
            width:100%;
            height:1px;
            background-color: silver;
     }
}
@import 'mobile';

